body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  /* direction: rtl; */
  font-family: "Rubik";
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-VariableFont_wght.ttf");
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.leaflet-control-zoom {
  border-style: none !important;
}

.leaflet-control-zoom-in {
  border-radius: 50px !important;
  margin: 20%;
}

.leaflet-control-zoom-out {
  border-radius: 50px !important;
  margin: 20%;
}

.hebetLogo {
  top: 0;
  right: 40vh;
  height: 4vh;
}

.logos img {
  height: 4vh;
}

/* popUp */
.popUpBackground {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.473);
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none;
}

.popUp {
  direction: rtl;
  background-color: #ffffff;
  width: 70vw;
  height: 45vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.7vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 1.5vw;
}

@keyframes openPopUp {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes openPopUp {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes closePopUp {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}

@-webkit-keyframes closePopUp {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}

.closePopUp {
  padding-left: 1vw;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  font-size: 2vmax;
}

.closePopUp:hover {
  cursor: pointer;
  color: #666666;
}

/* popUpBody */
.popUpBody {
  width: 40vw;
  height: 45vw;
}

.popUpHeader {
  width: 40vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid 0.1vw #b2b2b2;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.popUpTitle {
  margin: 1.5vw 1.5vw 1.5vw 0vw;
  padding-left: 1vw;
  color: #333333;
  font-weight: 500;
  border-left: solid 0.3vw;
}

.popUpSubTitle {
  margin: 1.5vw;
  color: #7f7f7f;
}

.popUpNavBar {
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0vw;
  padding: 1vw;
  color: #b2b2b2;
  border-bottom: solid 0.1vw #66666600;
}

.navItem:hover {
  cursor: pointer;
  color: #666666;
  border-bottom-color: #666666;
}

.navItemPressed {
  margin: 0vw;
  padding: 1vw;
  color: #00aeef;
  border-bottom: solid 0.1vw #00aeef;
  font-weight: 500;
}

/* popUpInfoContainer */
.popUpInfoContainer {
  width: 36vw;
  height: 30.8vw;
  padding: 2vw;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-y: auto;
  direction: ltr;
  /* box-shadow: 0px -5px 10px 0px #333333 inset; */
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 0.7vw;
  margin: 0.5vw;
}

.info {
  margin: 0.5vw;
  color: #333333;
  height: 5.5vw;
  direction: rtl;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title p {
  color: #b2b2b2;
  margin: 0.5vw;
}

.titleIcon {
  background-color: #015497;
  width: 1.5vw;
  height: 1.5vw;
}

.text {
  margin: 0vw;
}

.options {
  width: 36vw;
  margin: 0.5vw;
  color: #333333;
  direction: rtl;
}

.options p {
  color: #b2b2b2;
  margin: 0vw 0.5vw 0vw 0vw;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
}

.optionsContainer span {
  color: #666666;
  background-color: #e9e9e9;
  padding: 0.5vw 1vw 0.5vw 1vw;
  margin: 0.5vw;
  border-radius: 20vw;
}

.comments {
  width: 36vw;
  background-color: #f1f2f2;
  border-radius: 0.7vw;
  border: solid #d1d1d1 0.2vw;
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  color: #333333;
  direction: rtl;
}

.commentsTitle {
  color: #b2b2b2;
  margin: 0.7vw 0.7vw 0.7vw 0.7vw;
}

.commentsText {
  margin: 0vw 0.7vw 0.7vw 0.7vw;
}

#type {
  margin-left: 3vw;
}

/* popUpImgContainer */
.popUpImgContainer {
  width: 30vw;
  height: 45vw;
  border-radius: 0.7vw 0vw 0vw 0.7vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}

.imgArrows {
  width: 30vw;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -505);
  top: 50%;
}

.imgArrow {
  background-color: #00000075;
  width: 2vw;
  border-radius: 50px;
  margin: 0vw 0.5vw 0vw 0.5vw;
}

.imgArrow:hover {
  cursor: pointer;
  background-color: #000000a6;
}

.imgDots {
  position: absolute;
  bottom: 1vw;
  width: 30vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.imgDot {
  height: 0.7vw;
  width: 0.7vw;
  background-color: #f1f2f2;
  margin: 0% 2% 0% 2%;
  border-radius: 50px;
}

.bigImgBtn {
  background-color: #00000075;
  width: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
  background-image: url("assets/bigImgIcon.svg");
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vw;
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  z-index: 5;
  transition: 0.2s ease;
}

.bigImgBtn:hover {
  cursor: pointer;
  background-color: #000000a6;
}

.popUpBigImg {
  width: 70vw;
  height: 45vw;
  position: absolute;
  left: 0vw;
  bottom: 0vw;
  border-radius: 0.7vw;
  background-color: #000000ea;
  z-index: 4;
  display: none;
}

@keyframes popUpBigImgAnimation {
  from {
    border-radius: 30vw 30vw 30vw 0.7vw;
    width: 1vw;
    height: 1vw;
  }
  to {
    border-radius: 0.7vw;
    width: 70vw;
    height: 45vw;
  }
}

@-webkit-keyframes popUpBigImgAnimation {
  from {
    border-radius: 30vw 30vw 30vw 0.7vw;
    width: 1vw;
    height: 1vw;
  }
  to {
    border-radius: 0.7vw;
    width: 70vw;
    height: 45vw;
  }
}

@keyframes popUpBigImgAnimationReverse {
  from {
    border-radius: 0.7vw;
    width: 70vw;
    height: 45vw;
  }
  to {
    border-radius: 30vw 30vw 30vw 0.7vw;
    width: 1vw;
    height: 1vw;
  }
}

@-webkit-keyframes popUpBigImgAnimationReverse {
  from {
    border-radius: 0.7vw;
    width: 70vw;
    height: 45vw;
  }
  to {
    border-radius: 30vw 30vw 30vw 0.7vw;
    width: 1vw;
    height: 1vw;
  }
}

.imgBigImg {
  max-width: 70vw;
  max-height: 45vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0%;
  animation: popUpImgBigImgAnimation 1s 1.5s ease;
  -webkit-animation: popUpImgBigImgAnimation 1s 1.5s ease;
}

@keyframes popUpImgBigImgAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes popUpImgBigImgAnimation {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

/* container */
.container {
  direction: rtl;
  height: 100vh;
  width: 40vh;
  background-color: #f1f2f2;
  box-shadow: 0px -5px 10px 0px #333333;
  font-size: 1.5vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.searchBlock {
  background-color: #f1f2f2;
  width: 32vh;
  /* height: 10vh; */
  z-index: 2;
  position: fixed;
  box-shadow: 0px -5px 10px 0px #333333;
  padding: 3vh 4vh 4vh 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.5s ease;
}

.search {
  height: 1vh;
  width: 32vh;
  border-radius: 1vh;
  border: solid #b3b5b1 0.19vh;
  margin: 0vh 0vh 1vh 0vh;
  padding: 1.5vh;
}

.filtering {
  /* height: 4vh; */
  /* height: 20vh; */
  width: 15vh;
  background-color: white;
  color: #b2b2b2;
  border-radius: 1vh;
  border: solid #b3b5b1 0.19vh;
  margin: 1vh 0vh 0vh 0vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.5s ease;
}

.filteringHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filteringIcon {
  background-color: #015497;
  width: 1.5vh;
  height: 1.5vh;
  margin: 1vh 0vh 1vh 2vh;
  cursor: pointer;
}

.filteringText {
  margin: 1vh 2vh 1vh 2vh;
}

.filterOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#filterOptionsType {
  display: none;
}

#filterOptionsArea {
  display: none;
}

.filterOptions span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input {
  margin: 1vh;
  cursor: pointer;
}

.filterOptions span p {
  margin: 0.5vh;
}

.filterTags {
  /* margin-top: 2vh; */
  width: 32vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterTag {
  height: 3vh;
  margin: 0.5vh;
  border-radius: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e9e9e9;
  color: #9f9f9f;
}

.tagClose {
  margin: 0.5vh 1vh 0.5vh 0vh;
}

.tagClose:hover {
  cursor: pointer;
  color: #333333;
}

.tagText {
  margin: 0vh 1vh 0vh 1vh;
}

/* cards */
.cards {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 27vh;
  height: 67vh;
  overflow-y: scroll;
  overflow-y: auto;
  padding: 4vh;
  direction: ltr;
}

.card {
  background-color: white;
  width: 30vh;
  border-radius: 1vh;
  border: solid #b3b5b1 0.19vh;
  margin-bottom: 2vh;
  direction: rtl;
}

.card:hover {
  transform: scale(1.03);
}

.cardTitle {
  margin: 1.5vh 2vh 0.5vh 2vh;
  color: #333333;
  font-weight: 500;
}

.cardAddress {
  margin: 1vh 2vh 1vh 2vh;
  padding-bottom: 1vh;
  color: #b2b2b2;
  border-bottom-style: solid;
  border-width: 0.19vh;
  display: flex;
  align-items: center;
}

.cardAddressIcon {
  background-color: #015497;
  width: 1.5vh;
  height: 1.5vh;
  margin-left: 1vh;
}

.cardAddressText {
  margin: 0;
}

.cardTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh 1.5vh 1vh 1.5vh;
}

.cardTag {
  height: 3vh;
  margin: 0.5vh;
  border-radius: 20vh;
  display: flex;
  align-items: center;
}

.tagIcon {
  background-color: #015497;
  width: 1.5vh;
  height: 1.5vh;
  margin: 1vh 1vh 1vh 0vh;
}

.tagType {
  margin: 1vh;
}

.lashbitMeholot {
  background-color: #f4efff;
  color: #5a3d8e;
}

.mitvahim {
  background-color: #ebf0e6;
  color: #396d06;
}

.hederYery {
  background-color: #ecf4ff;
  color: #4a77bf;
}

.lashbitEz {
  background-color: #fff9ec;
  color: #68611a;
}
